<% City.all.each do |name, city| %>
  <% if not city.nil? %>
    <h1> <%= city.name %></h1>
    <p>
      It's <%= city.temperature %>°F
      and it looks like <%= city.description %>
    </p>
  <% end %>
<% end %>

<%= form_with local: true, method: "get" do |f| %>
  <%= f.text_field :city %>
  <%= f.submit %>
<% end %>