<h1>
  Create a new city
</h1>

<%= form_with url: cities_create_path, local: true, method: "get" do |f| %>
  <h3>Name</h3>
  <%= f.text_field :name %>
  <h3>Most Popular Landmark</h3>
  <%= f.text_field :landmark %>
  <h3>Population</h3>
  <%= f.text_field :population %>
  <h3>Temperature</h3>
  <%= f.text_field :temperature %>
  <%= f.submit %>
<% end %>