<h1>
  Updating <%= @name %> City Information
</h1>

<%= form_with url: cities_update_path, local: true, method: "post" do |f| %>
  <h3>Name</h3>
  <%= f.text_field :name %>
  <h3>Most Popular Landmark</h3>
  <%= f.text_field :landmark %>
  <h3>Population</h3>
  <%= f.number_field :population %>
  <%= f.submit %>
<% end %>