<% if @w %>
  <h1> Name: <%= @w[:name] %>  </h1>
  <p> Description: <%= @w[:landmark] %>  </p>
  <p> Population: <%= @w[:population] %>  </p>
  <p> Weather: <%= @w[:weather] %>  </p>
<% end %>
<% City.all.each do |city| %>
  <% if not city.nil? %>
    <% puts city %>
    <h1> <%= city[:name.to_s] %>  </h1>
    <p> <%= city.landmark %>  </p>
    <p> <%= city.population %>  </p>
    <p> <%= city.weather %>  </p>
  <% end %>
<% end %>