<% if @w %>
  <h1> Name: <%= @w[:name] %>  </h1>
  <p> Description: <%= @w[:landmark] %>  </p>
  <p> Population: <%= @w[:population] %>  </p>
  <p> Weather: <%= @w[:weather] %>  </p>
<% end %>
<% @cities.each do |city| %>
  <% if not city.nil? %>
    <h1> <%= city.name %>  </h1>
    <p> <%= city %>  </p>
    <p> <%= city %>  </p>
    <p> <%= city %>  </p>
  <% end %>
<% end %>