<% if @city %>
  <h1> <%= @city.name %>  </h1>
  <p> Key Landmark: <%= @city.landmark %>  </p>
  <p> Population: <%= @city.population %>  </p>
  <p> Temperature: <%= @city.temperature %>°F </p>
<% else %>
  <% @cities.each do |name, city| %>
    <% if not city.nil? %>
      <h1> <%= name %>  </h1>
      <p> Key Landmark: <%= city.landmark %>  </p>
      <p> Population: <%= city.population %> </p>
      <p> Temperature: <%= city.temperature %>°F </p>
    <% end %>
  <% end %>
<% end %>